@font-face {
    font-family: Akshar;
    src: url(Assets/Fonts/Akshar-Medium.ttf) format("truetype");
}

/*
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px;
    }
  }


@mixin sp-layout {
  @media screen and (max-width: 300px) {
    @content;
  }
}
*/




html, main{
    height: 500px;;
    border-radius: 20px;
    

}

body 
{
    min-height: 100%;
    /* border: 5px solid red;*/

    
    
    font-family: Arial, sans-serif;
    
    padding: 0px;
    padding-top: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

    

    margin: 0px;
    margin-top: 10px;
    background-image: url("Assets/backgroundN.jpeg");
    background-clip: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    
    

    justify-items: center;
    
    
    
}

button
{
    padding: 0px;
    font-size: 8px;
    cursor: pointer;
}

img
{
    cursor: pointer;
}

.audioUI
{
    display: flex;
  justify-content: center left;
  align-items: center;
  padding-top: 30px;
  margin-left: 40px;
  /*flex-direction: column;*/
  gap: 5px;

  width: 100%;
}

.titleDisplay
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    position: relative;
    bottom: 25px;
    
}




/* the rest is for the timer */


.base-timer {
    display: block;
  margin-left: auto;
  margin-right: auto;
  

    position: relative;
    width: 150px;
    height: 150px;
    padding-bottom: 0px;
  }
  
  /* scaleX(1) = CLOCKWISE, scaleX(-1) = ANTI-CLOCKWISE */
  .base-timer__svg {
    transform: scaleX(1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
    
  }
  
  .base-timer__path-elapsed {
    stroke-width: 1px;
    stroke: rgb(96, 89, 142);
  }
  
  .base-timer__path-remaining {
    stroke-width: 4px;
    /*stroke-linecap: round;*/
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.arc {
    color: rgba(80, 56, 97)
  }
  
  .base-timer__label {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    font-family: "Akshar";
    color: azure;
  }
  
  

  .buttons {
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    
    gap: 10px; /* Add spacing between buttons */
    margin-top: 20px; /* Add some space above the buttons */
  }
  
  /* Style for the first four buttons */
  .buttons .upperbuttons {

    margin-left: auto;
    margin-right: auto;
    width: 300px;
    
    
  }

  .buttons .upperbuttons button {
    width: 21%;
  }
  

  .buttons .lowerbuttons{
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    gap: 30px;
    
  }
  /* Style for the remaining three buttons */
  .buttons .lowerbuttons button {
    
    width: 63px;
  }
  
  
  .buttons button {
    font-family: "Akshar", Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0.25rem; /* Adjust margin for spacing */
    border: none;
    background-color: rgb(186, 178, 249);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 25px;
    border-radius: 10px;
    font-size: 0.55rem;
    box-sizing: border-box;
    flex: 0 0 auto;

  }
  
  
  
  .buttons button:hover  {
    background-color: rgb(215, 188, 236);
    color: rgb(243, 235, 247);
  }
  
  .buttons button:disabled {
    cursor: not-allowed;
  }
  .buttons button:disabled:hover {
    background-color:rgb(174, 147, 177);
  }

  /* for CheerMeUP */
  #help
  { 
      text-align: center;
      position: absolute;
      font-family: "Akshar", Arial, Helvetica, sans-serif;
      margin: 1px;
      border: none;
      background-color: rgb(186, 178, 249);
      color: rgb(255, 255, 255);
      width: 80px;
      height: 30px;
      border-radius: 5px;
      padding: .3px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    
    #help:hover 
    {
      background-color: #8c6ebc;
      color: white;
    }

  #currentFile
{
    color: blueviolet;
    font-size: xx-large/2;
    font-family: "Akshar", Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    /*-webkit-animation: glow 1s ease-in-out infinite alternate;*/
    
}

#playingText
{
    color:darkmagenta;
    font-size: xx-large/2;
    font-family: "Akshar", Arial, Helvetica, sans-serif;
    margin-top: 0px;
    padding: 0px;
    /*text-align: center;*/
    font-stretch: extra-expanded;
    
}

#playImage,
 #pauseImage
{
    margin: 0px;
    flex-shrink: 0;
    

    width: 35%;
}



