*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    min-width:425px;

}

#help
{ 
    margin: 1px;
    border: none;
    background-color: rgb(186, 178, 249);
    color: rgb(255, 255, 255);
    width: 80px;
    height: 30px;
    border-radius: 5px;
    padding: .3px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  
  #help:hover 
  {
    background-color: #8c6ebc;
    color: white;
  }
  
  #image > *{
    animation: fly 5s linear 1;
    /*top: 1000;
    left:0;
    position: fixed;
    z-index: 999;
    pointer-events: none;*/
}

@keyframes fly {
    0% {
        transform: translate(0, 110vh);opacity: .50;
    }
    50% {
        transform: translate(110vw,0);opacity: 1;
    }
    100% {
        transform: translate(0, 110vh);opacity: .50;
    }
}